# Binaries for programs
*.exe
*.dll
*.so
*.dylib

# go api binary
myapi

# Test binaries
*_test

# Build outputs
/bin/
/build/
/tmp/

# Dependency directories
/vendor/

# Environment variables
.env
.env.*

# Editor and IDE files
.idea/
.vscode/
*.swp
*.bak
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Coverage files
*.out